<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a [routerLink]=" ['./home'] " [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-home icon-color" title="Home"></i>
        </a>
        <a [routerLink]=" ['./dialogservice'] " [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-credit-card" aria-hidden="true" title="Dialog Service"></i>
        </a>
        <a [routerLink]=" ['./dialoghidden'] " [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-credit-card-alt" aria-hidden="true" title="Dialog Hidden"></i>
        </a>
        <a [routerLink]=" ['./detail'] " [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-asterisk" aria-hidden="true" title="Detail"></i>
        </a>
        <a [routerLink]=" ['./barrel'] " [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-shopping-basket" aria-hidden="true" title="Barrel"></i>
        </a>
        <a [routerLink]=" ['./videos/myvideos'] " [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-video-camera icon-color" title="Show Video List"></i>
        </a>
        <a [routerLink]="['./cmsevents']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-commenting icon-color" title="Advice"></i>
        </a>
        <a [routerLink]="['./about']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-bell icon-color" title="About"></i>
        </a>

    </ul>
</nav>
